pipeline/6_pl_filenames_as_rows_in_csv.json
{
	"name": "6_pl_filenames_as_rows_in_csv",
	"properties": {
		"activities": [
			{
				"name": "Get FileNames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Drop and Re-Create the Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_folder_adls",
						"type": "DatasetReference",
						"parameters": {
							"paramYyear": {
								"value": "@variables('varInputYear')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Drop and Re-Create the Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "IF OBJECT_ID('dbo.FileNames') is not null \nDROP TABLE dbo.FileNames\n\nCREATE TABLE dbo.FileNames (ID int identity(1,1) , FileName VARCHAR(100) ,FileModified DATETIME );\n\nselect 1 ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSQLDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach FileName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get FileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileNames').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get File Properties",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adf_files_adls",
									"type": "DatasetReference",
									"parameters": {
										"paramFilename": {
											"value": "@item().name",
											"type": "Expression"
										},
										"paramYear": {
											"value": "@variables('varInputYear')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Lookup - Insert into Table",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Get File Properties",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "insert into dbo.FileNames (FileName,FileModified)\nvalues('@{activity('Get File Properties').output.itemName}','@{formatDateTime(activity('Get File Properties').output.lastModified,'yyyy-MM-dd HH:mm:ss')}');\n\nselect 1\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_AzureSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Copy DB to File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.FileNames",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_AzureSQLDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adf_output_adls",
						"type": "DatasetReference",
						"parameters": {
							"paramTgtFolder": {
								"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'_1')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"varInputYear": {
				"type": "String",
				"defaultValue": "2022"
			},
			"arrfileName": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}