pipeline/pl_loop_tru_excel_tabs.json
{
	"name": "pl_loop_tru_excel_tabs",
	"properties": {
		"activities": [
			{
				"name": "UntilExcelTabExists",
				"description": "It Starts with False and will continue until the value is True",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('varIsError')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Excel Sheet Data to CSV",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set Counter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_demo_Excel",
									"type": "DatasetReference",
									"parameters": {
										"parIndexNo": {
											"value": "@int(variables('varCurrentIndexNo'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv",
									"type": "DatasetReference",
									"parameters": {
										"parCSVNo": {
											"value": "@int(variables('varCurrentIndexNo'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set Index Counter",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy Excel Sheet Data to CSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varCurrentIndexNo",
								"value": {
									"value": "@variables('varCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Counter",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varCounter",
								"value": {
									"value": "@string(add(int(variables('varCurrentIndexNo')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy Excel Sheet Data to CSV",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varIsError",
								"value": {
									"value": "@bool(1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "UntilExcelTabExists",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"varCurrentIndexNo": {
				"type": "String",
				"defaultValue": "0"
			},
			"varIsError": {
				"type": "Boolean",
				"defaultValue": false
			},
			"varCounter": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"folder": {
			"name": "LoopthruExcelFileTabs"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-03T15:26:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}